table,input
 {width: 98%;
 }
table td:nth-child(1)
 {width: 12%;
 }
table td:nth-child(4)
 {width: 40%;
 }
textarea
 {width: 99%;
 }
.success {color:blue;}
.failed {color:red;}
.mandatory {background-color:#FAAFB8}
.option {background-color:#F0E68C}
.oneintwo {background-color:#DEB887}
